h1 {font: 24px/30px Verdana, sans-serif;
color: red}

p {font-size: 16px;
font-style: normal;
font-weight: bold;
font-family: verdana sans-serif;}



@media screen and (min-width:0px) and (max-width:640px) {
  /* CSS code for small screens */
  h1 {font: 24px/30px verdana, sans-serif;
  color: red
}
}


@media screen and (min-width:641px) {
  /* CSS code for larger screens */
  h1 {font: 48px/60px verdana, sans-serif;
  color: green
}
}
